.header-loginbar {
  $color: #f0f0f0;
  background-color: $color;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  ul {
    width: 1020px;
    display: flex;
    align-items: center;
    height: 32px;
    li {
      color: #333;
      font-size: 11px;
      margin-left: 12px;
    }
    li:nth-child(1) {
      order: 3;
    }
    li:nth-child(2) {
      order: 4;
    }
    li:nth-child(3) {
      order: 5;
    }
    li:nth-child(4) {
      order: 1;
    }
    li:nth-child(5) {
      order: 2;
      flex-grow: 1;
    }
  }
}

.header-main {
  display: grid;
  grid-template-areas:
    'category logo search menu'
    'category nav nav nav';
  justify-content: center;
  align-items: end;
  .category {
    grid-area: category;
    width: 110px;
    height: 116px;
    background: url('/assets/pc_header_img_sprite.png') no-repeat;
    color: var(--color-white);
    line-height: 160px;
    margin-right: 30px;
    font-size: 13px;
    text-align: center;
  }
  .header-logo {
    grid-area: logo;
    width: 176px;
    height: 40px;
    background-size: 176px 40px;
    background-image: url('/assets/logo_coupang.png');
    margin-right: 20px;
  }
  form {
    grid-area: search;
    display: grid;
    grid-template-columns: 3fr 9fr 1fr 1fr;
    border: 2px solid var(--color-blue);
    width: 522px;
    height: 40px;
    select {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 17H15L19.6957 23L24 17Z' fill='%23767676'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right;
      border: none;
      border-right: 1px solid var(--color-gray-light);
      font-weight: 400;
      font-size: 12px;
      color: var(--color-gray-bord);
      text-indent: 10px;
    }
    input {
      border: none;
      font-weight: 400;
      font-size: 12px;
      text-indent: 10px;

      &::placeholder {
        color: var(--color-gray-bord);
        font-size: 14px;
      }
    }
    .mic {
      background: url('/assets/mic.svg') no-repeat;
      background-position: center;
    }
    .glass {
      background: url('/assets/search.svg') no-repeat;
      background-position: center;
      margin-right: 10px;
    }
  }
  .header-menu {
    grid-area: menu;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-top: 8px;
      }
    }
    .myCoupang {
      position: relative;
      ul {
        display: none;
      }
      &.is--active {
        ul {
          position: absolute;
          left: -20px;
          top: 60px;
          border: 1px solid var(--color-gray-light);
          width: 90px;
          height: 130px;
          font-weight: 400;
          font-size: 12px;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          align-items: center;
          justify-content: center;
          background-color: var(--color-white);
        }
      }
    }
    .cart {
      display: flex;
      position: relative;
      p {
        display: none;
      }
      &.cart--empty p {
        position: absolute;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-light);
        width: 280px;
        height: 100px;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        text-indent: 20px;
        right: -30px;
        top: 60px;
      }
      .cart--number {
        position: absolute;
        right: 0;
        top: -7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-radius: 50%;
        font-weight: 900;
      }
    }
  }
  .header-navigation {
    grid-area: nav;
    display: flex;
    gap: 30px;
    margin-bottom: 8px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      .new {
        width: 12px;
        height: 12px;
        margin-left: 2px;
      }
      &:hover {
        color: var(--color-blue);
        text-decoration: underline;
      }
      &:focus {
        color: var(--color-blue);
        text-decoration: underline;
      }
    }
  }
}
